### Soru XXX
Kullanıcının girdiği ad, soyad ve yaş bilgilerini tutan bir dictionary oluşturunuz.
- Kullanıcının ad değerini, büyük harfler ile güncelleyiniz. 
- Kullanıcının yaş değerine 2 ekleyiniz.
- Dictionary'e kullanıcının en sevdiği rengi ekleyiniz key-value şeklinde ekleyiniz.
- Kullanıcının adını ve soyadını kapsayan yeni bir key-value ekleyiniz.
- Kullanıcının ad değerini dictionary'den kaldırınız.

In [ ]:
name, surname, age = input(), input(), int(input())
userDict = {"Name":name, "Surname": surname, "Age": age}

#Soru 1 Çözüm 1
# userDict["Name"] = userDict["Name"].upper() 
# userDict["Surname"] = userDict["Surname"].upper() 

#Soru 1 Çözüm 2
userDict.update({"Name":userDict["Name"].upper(), "Surname":userDict["Surname"].upper()})

#Soru 2
userDict["Age"] += 2

#Soru 3 
favouriteColor = "blue"
userDict["Color"] = favouriteColor

#Soru 4
userDict["FullName"] = userDict["Name"] + ' ' + userDict["Surname"]

#Soru 5
del userDict["Name"]
print(userDict)

emre
gelen
23
{'Surname': 'GELEN', 'Age': 25, 'Color': 'blue', 'FullName': 'EMRE GELEN'}

### Soru XXX
Kullanıcının verdiği aralığa göre, key değerleri o anki sayı, value değerleri o anki sayının karesi olan bir dictionary oluşturunuz.

Örnek olarak, kullanıcı aralık olarak 2 ve 7 girmiş olsun. Bizden beklenen dictionary şu şekilde olmalıdır;

```python
{2: 4, 3: 9, 4: 16, 5: 25, 6:36, 7:49}
```

In [ ]:
start, end = int(input()), int(input())

myDict = {}
for number in range(start, end + 1):
  myDict[number] = number ** 2

print(myDict)

2
7
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

### Soru XXX
Aşağıda verilen liste ile istenilen işlemleri yapınız.
- Yaşı 20'den büyük olanları ekrana yazdırınız.
- Adı 'A' ile başlayanları ekrana yazdırınız.
- Soyadı 'J' ile başlayanları ekrana yazdırınız.
- Adı 'C' ile soyadı 'A' ile başlayanları ekrana yazdırınız.
- Adının içinde 'A' ahrfi geçenleri ekrana yazdırınız.
- Yaşı tek sayı olanları ekrana yazdırınız.
- Kullanının yaşını, (kullanıcının yaşı + kullanıcının soyadının uzunluğu) şeklinde güncelleyiniz.
- Kullanıcının adını ve soyadını içeren FullName adında yeni bir key-value pair oluşturunuz.

In [ ]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

In [ ]:
#Soru 1
print(list(filter(lambda userDict:userDict["Age"] > 20, myUsers)))

#Soru 2
print(list(filter(lambda userDict:userDict["Name"][0].lower() == 'a', myUsers)))

#Soru 3
print(list(filter(lambda userDict:userDict["Surname"][0].lower() == 'j', myUsers)))

#Soru 4
print(list(filter(lambda userDict:userDict["Name"][0].lower() == 'c' and userDict["Surname"][0].lower() == 'a', myUsers)))

#Soru 5
print(list(filter(lambda userDict:'a' in userDict["Name"].lower(), myUsers)))

#Soru 6
print(list(filter(lambda userDict:userDict["Age"] % 2 == 1, myUsers)))

#Soru 7
myUsers = list(map(lambda userDict: {"Name": userDict["Name"], "Surname": userDict["Surname"], "Age": userDict["Age"] + len(userDict["Surname"])}, myUsers))
print(myUsers)

#Soru 8
myUsers = list(map(lambda userDict: {"Name": userDict["Name"], "Surname": userDict["Surname"], "Age": userDict["Age"], "FullName": userDict["Name"] + ' ' + userDict["Surname"]}, myUsers))
print(myUsers)

# print(list(map(lambda person: {"Name": person["Name"],"Surname": person["Surname"],"Age": person["Age"] + len(person["Surname"])}, myUsers)))

[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 31}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 40}, {'Name': 'Emillie', 'Surname': 'Plummer', 'Age': 31}, {'Name': 'Kourtney', 'Surname': 'Pate', 'Age': 38}, {'Name': 'Virgil', 'Surname': 'Solomon', 'Age': 54}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 45}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 40}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 84}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 53}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 100}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 75}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 40}, {'Name': 'Viola', 'Surname': 'Shepherd', 'Age': 34}]
[{'Name': 'Annika', 'Surname': 'Keenan', 'Age': 40}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 40}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 53}]
[{'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 45}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 40}]
[{'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 40}]
[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 31}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 40}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 40}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 84}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 53}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 100}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 75}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 40}, {'Name': 'Viola', 'Surname': 'Shepherd', 'Age': 34}]
[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 31}, {'Name': 'Emillie', 'Surname': 'Plummer', 'Age': 31}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 45}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 53}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 75}]
[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 35}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 46}, {'Name': 'Emillie', 'Surname': 'Plummer', 'Age': 38}, {'Name': 'Kourtney', 'Surname': 'Pate', 'Age': 42}, {'Name': 'Virgil', 'Surname': 'Solomon', 'Age': 61}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 51}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 52}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 94}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 58}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 109}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 84}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 43}, {'Name': 'Viola', 'Surname': 'Shepherd', 'Age': 42}]
[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 35, 'FullName': 'Rosalind Rich'}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 46, 'FullName': 'Annika Keenan'}, {'Name': 'Emillie', 'Surname': 'Plummer', 'Age': 38, 'FullName': 'Emillie Plummer'}, {'Name': 'Kourtney', 'Surname': 'Pate', 'Age': 42, 'FullName': 'Kourtney Pate'}, {'Name': 'Virgil', 'Surname': 'Solomon', 'Age': 61, 'FullName': 'Virgil Solomon'}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 51, 'FullName': 'Bobby Jordan'}, {'Name': 'Alfie', 'Surname': 'James Robson', 'Age': 52, 'FullName': 'Alfie James Robson'}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 94, 'FullName': 'Isla Grace Tran'}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 58, 'FullName': 'Arif Rivas'}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 109, 'FullName': 'Zakaria Whitehead'}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 84, 'FullName': 'Casper Velasquez'}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 43, 'FullName': 'Caoimhe Ali'}, {'Name': 'Viola', 'Surname': 'Shepherd', 'Age': 42, 'FullName': 'Viola Shepherd'}]

### Soru XXX
Kullanıcının girdiği string içerisindeki unique karakterleri ekrana yazdırınız.

In [ ]:
userInput = input()
print(set(userInput))

asdsahaesgtfas
{'a', 'f', 'e', 't', 'd', 's', 'h', 'g'}

### Soru XXX
Verilen iki set için aşağıdaki işlemleri yapınız;
- İki set arasındaki farkı ekrana yazdırınız.
- İki set içerisinde ortak olanları ekrana yazdırınız.
- İki seti birleştirip ekrana yazdırınız.
- İlk set içerisinde olmayıp ikinci set içerisinde olan değerleri ekrana yazdırınız.
- İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.

```python
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}
```

In [ ]:
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

print(set1 ^ set2)
print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print(set2 - set1)

{'a', None, False, True, 2, 3, 6, 7, 8, 9, 'b', 4, 'i', 'e', 'r', 't', 'l'}
{'s'}
{False, True, 2, 3, 4, 'i', 6, 7, 8, 9, 'b', 'e', 'l', 'a', None, 't', 'r', 's'}
{False, True, 2, 3, 4, 'i', 'e', 't'}
{'a', None, 6, 7, 8, 9, 'b', 'r', 'l'}

### Soru XXX
Kullanıcıdan alınan string ifadedeki karakterlerin kaç kere tekrar ettiğini tutan bir dictionary oluşturunuz.

sisterslab için örnek çıktı şu şekilde olmalıdır 

```python
{'s': 3, 'r': 1, 'e': 1, 'l': 1, 'b': 1, 't': 1, 'a': 1, 'i': 1}
```

In [ ]:
userInput = input()

characterCountDict = {}

for character in userInput:
  if character in characterCountDict:
    characterCountDict[character] += 1
  else:
    characterCountDict[character] = 1

print(characterCountDict)

sisterslab
{'s': 3, 'i': 1, 't': 1, 'e': 1, 'r': 1, 'l': 1, 'a': 1, 'b': 1}